.ticket {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ticketHeader {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .ticketContent {
    padding: 1rem;
  }
  
  .ticketContent p {
    margin-bottom: 0.5rem;
  }
  
  .ticketContent span {
    font-weight: bold;
  }
